site_name: REPLACE_PACKAGE_NAME
site_url: https://github.com/owkin/REPLACE_PACKAGE_NAME
site_author: REPLACE_FULL_NAME
site_description: REPLACE_PACKAGE_DESCRIPTION

repo_name: owkin/REPLACE_PACKAGE_NAME
repo_url: https://github.com/owkin/REPLACE_PACKAGE_NAME

copyright: Copyright (c) 2023-present REPLACE_FULL_NAME <REPLACE_EMAIL_NAME@owkin.com>

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - search:
  - git-revision-date-localized:
      type: timeago
      enable_creation_date: true
  - mkdocstrings:
      default_handler: python
  - include-markdown:

extra:
  social:
    - icon: fontawesome/brands/python
      link: https://abstra-058264397262.d.codeartifact.eu-west-1.amazonaws.com/pypi/owkin-pypi/simple/REPLACE_PACKAGE_NAME
    - icon: fontawesome/brands/github
      link: https://github.com/owkin/REPLACE_PACKAGE_NAME

nav:
  - Getting Started:
    - Introduction: index.md
    - Concepts & Fundamentals: concepts.md
    - Quickstart: quickstart.md
    - Installation: installation.md
    - Contributing: contributing.md
    - Changelog: changelog.md
    - About: about.md
  - Usage:
    - TODO: usage/index.md
  - API Reference:
    - Python: api/root.md
